---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

const rawBase = import.meta.env.BASE_URL;
const base = rawBase.endsWith('/') ? rawBase : `${rawBase}/`;
---

<header>
  <nav>
    <h2><a href={base}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href={base}>Home</HeaderLink>
      <HeaderLink href={`${base}people/`}>People</HeaderLink>
      <HeaderLink href={`${base}publications/`}>Publications</HeaderLink>
      <HeaderLink href={`${base}projects/`}>Projects</HeaderLink>
      <HeaderLink href={`${base}news/`}>News</HeaderLink>
      <HeaderLink href={`${base}join-us/`}>Join Us</HeaderLink>
      <HeaderLink href={`${base}contact/`}>Contact</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .internal-links {
    display: flex;
    flex-wrap: wrap;
  }
</style>
